# ------------------------------
# Node modules
# ------------------------------
node_modules/
server/node_modules/
client/node_modules/

# ------------------------------
# Build & Temp output
# ------------------------------
dist/
server/dist/
client/.vite/
server/build/
client/build/
.temp/
.cache/



# ------------------------------
# Environment variables
# ------------------------------
.env
.env.local
server/.env
server/.env

# ------------------------------
# Logs
# ------------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# ------------------------------
# System files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Editor configs
# ------------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ------------------------------
# Uploads (if using Cloudinary or S3)
# ------------------------------
server/uploads/

# ------------------------------
# Socket.io Cache
# ------------------------------
socket.io/

# ------------------------------
# Docker
# ------------------------------
docker-compose.override.yml
docker-compose.override.yaml
.docker/

# ------------------------------
# Other Ignored Files
# ------------------------------
*.local
*.bak
*.tmp